<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="OpenSilver" value="https://pkgs.dev.azure.com/OpenSilver/OpenSilver/_packaging/OpenSilver/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="OpenSilver">
      <package pattern="OpenSilver*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>